.nav-link {
  position: relative;
  padding-inline: 5px;
  text-decoration: none;
  transition: color 0.3s ease;
}
.nav-link:hover{
  color: var(--color-rose-500);
}

.active-link{
color: var(--color-rose-500);
padding-inline: 5px;
border-bottom: 3px solid var(--color-rose-500);
padding-bottom: 8px;
}
.nav-link::after {
  content: '';
  position: absolute;
  bottom: -0.5px;
  left: 0;
  width: 0;
  height: 2.5px;
  background-color: var(--color-rose-500);
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}



